.wrapper{
    max-width: 98.5%;    
    background-color: black;
    color : red; 
    border-radius: 3px;   
    padding: 15px;
    display: flex;
}

.wrapper > a{
    text-decoration: unset;
    color: white;    
    font-size: 20px;
    flex: 1 1 auto;
}

.wrapper > a:hover{
    color: red;
}
