<div class='wrapper'>
  
    <label for="">SERVIDOR</label>
    <input type="" name="" value="" [(ngModel)]='config.server' />

    <label for="">USUÁRIO</label>
    <input type="" name="" value="" [(ngModel)]='config.user'/>


    <input type="">

    <label for="">INSTÂNCIAS</label>

    <div class='instances'>
      <div class='row-instance' *ngFor='let instance of avaliableInstances' (click)='addInstance(instance)'>
        {{instance.name}}
      </div>
    </div>

    <br>

    <div class="instances">
      <div class='row-instance' *ngFor='let instance of selectedInstances' (click)='removeInstance(instance)'>
        {{instance.name}}
      </div>
    </div>

    <br>

    <button (click)='save()'> SALVAR </button>

  

</div>