body{
    margin: auto;
}

#popids-box { 
    margin: auto;
    width: 10%;
    text-align: center; 
    position: relative;
    float: left;
}

.popid-row {
    border: 2px solid black;    
}

.active-popid{
    background-color: greenyellow;
}

#takt-box{
    position: relative;
    float: left;
    margin-left: 30%;
}

#takt-value{
    font-size: 10vw;
}

#takt-produced{
    
}